.title{
    color: #777;
    padding: 10px 30px;
    background: purple;
    font-size: 30px;
    text-align: center;
}
.btn {
    margin-bottom: 10px;
}
.card {
    padding: 10px 15px  !important;
    background: #e4e443 !important;
    border-radius: 5px !important;
    margin: 9px;
}
.card.col-md-3 h3 {
    font-size: 20px;
    color: #282727;
    font-family: arial;
    font-weight: 700;
}

.card.col-md-3 p {
    font-size: 14px;
    color: black;
    font-weight: 400;
}
